<br><br><br>
<div class="table-responsive-xl table-responsive-md table-hover table-condensed">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-info">SL.NO</th>
          <th scope="col" class="text-info" style="cursor: pointer;" (click)=sortByName(arr)>Name</th>
          <th scope="col" class="text-info" style="cursor: pointer;" (click)=sortByPrice(arr)>Current Price</th>
          <th scope="col" class="text-info" style="cursor: pointer;" (click)=sortByMarketCap(arr)>Market Cap</th>
          <th scope="col" class="text-info" style="cursor: pointer;" (click)=sortBySymbol(arr)>Symbol</th>
          <th scope="col" class="text-info">Favourites</th>
        </tr>
      </thead>
      <tbody>
        <tr (press)="checkboxdisplay()" *ngFor="let items of result  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <th scope="row">{{i+1}} <input type="checkbox" *ngIf="displaycheckbox" (change)="onChange(items.id, $event.target.checked)"></th>
          <td style="cursor: pointer;" (click)="gopricechart(id=items.id)"><a class="namesall">
              <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{items.id}}.png" width="23" height="23"
                alt="">&nbsp; {{items.name}}</a></td>
          <td style="cursor: pointer;" (click)="gopricechart(id=items.id)"><img src="https://img.icons8.com/color/48/000000/money-bag.png"/>
            {{items.quote.USD.price}}</td>
          <td style="cursor: pointer;" (click)="gopricechart(id=items.id)"><img src="https://img.icons8.com/color/48/000000/money-bag.png"/>
            {{items.quote.USD.market_cap}}</td>
          <td style="cursor: pointer;" (click)="gopricechart(id=items.id)"><a>
              <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{items.id}}.png" width="23" height="23"
                alt="">&nbsp; {{items.symbol}}</a></td>
          <td>
            <i style="cursor: pointer;" class="fa fa-heart" aria-hidden="false" (click)="onSelect(items.id)" [ngClass]="{active: isActive(items.id)}"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!-- Go back button -->
<a class="btn btn-info m-2 ml-4 btn-sm" role="button" (click)="goBackToPreviousPage()">
    <i class="fa fa-arrow-left" style="font-size:20px"></i> Back</a>
  </div>
